<% if @listing.errors %>
    <% @listing  .errors.full_messages.each do |message| %>
        <div><%= message %></div>
    <% end %>
<% end %>



<%= form_for @listing do |f|%>
<%= f.label :user %>
<%= f.collection_select :user_id, User.all, :id, :name%> 
<%= f.label :game %>
<%= f.collection_select :game_id, Game.all, :id, :name%> 
<%= f.label :console_type %>
<%= f.collection_select :console_type_id, ConsoleType.all, :id, :name%> 
<%= f.label :quality%>
<%= f.text_field :quality %>
<%= f.label :condition%>
<%= f.text_field :condition %>
<%= f.label :listed_price%>
<%= f.number_field :listed_price %>
<%= f.label :availability %>
<%= f.text_field :availability%>
<%= f. submit %></li>
<%end%>