
<% if @listing.errors %>
    <% @listing  .errors.full_messages.each do |message| %>
        <div><%= message %></div>
    <% end %>
<% end %>



<%= form_for @listing do |f|%>
<% f.label :user %>
<% f.select :user, [User.find(session[:user_id]).name] %> 
<br>
<%= f.label :game %>
<%= f.collection_select :game_id, Game.all, :id, :name%> 
<br>
<%= f.label :console_type %>
<%= f.collection_select :console_type_id, ConsoleType.all, :id, :name%> 
<br>
<%= f.label :condition%>
<%= f.select :condition, ["New", "Like New", "Very Good", "Good", "Acceptable"] %>
<br>
<%= f.label :listed_price%>
<%= f.number_field :listed_price %>
<br>
<% f.label :availability %>
<% f.select :availability, ["True"] %>
<br><br>
<%= f. submit %></li>
<%end%>
