<h1>Details </h1<br>
<h2><%=@listing.game.name%></h2> <br>



Listed:  <%= @listing.user.name %><br>
console_type:  <%= @listing.console_type.name %><br>
Condition:  <%= @listing.condition %><br>
Listed Price:  <%= @listing.listed_price %><br>
Availability: <%= @listing.availability %>


<br>
<br>
<br>

<%= button_to "Buy This Listing", listing_path(@listing), :method => :buy %>
#add button
when button is pushed, changes the value of availability to false
and changes the listing owner to the current listing



<h4><%= link_to "Click here to see all available listings", listings_path() %></h4> <br>

