<h1>Details </h1> 
<h2><%=@listing.game.name%></h2>
<br>



Listed:  <%= @listing.user.name %><br>
Console_type:  <%= @listing.console_type.name %><br>
Condition:  <%= @listing.condition %><br>
Listed Price:  <%= @listing.listed_price %><br>
Availability: <%= @listing.availability %>

<br>
<br>
<br>

<%= button_to 'Buy This Listing', {:controller => "listings", :action => "buy", :method => "post" } %>
<br>


<h4><%= link_to "Click here to see all available listings", listings_path() %></h4> <br>

