<h1>Details </h1> 
<h2><%=@listing.game.name%></h2>
<br>



Listed:  <%= @listing.user.name %> <br>
Console_type:  <%= @listing.console_type.name %> <br>
Condition:  <%= @listing.condition %> <br>
Listed Price:  <%= @listing.listed_price %> <br>
Availability: <%= @listing.availability %>

<br>
<br>
<br>

<%= button_to 'Buy This Listing', {:controller => "listings", :action => "buy", :method => "post" } %>
<br>


<%= button_to("View Available Listings", listings_path(),
        method: "get") %>
<br><br>
<%= button_to("#{User.find(session[:user_id]).name}'s Homepage", user_path(session[:user_id]),
        method: "get")  %>

