 
 <div id="demotext">
 <h1>Sign Up</h1>
 </div>


 <%= form_for @user do |f| %>
   <p> <%= f.label :name %>
    <%= f.text_field :name %></p>
    
   <p> <%= f.label :username%>
    <%= f.text_field :username%></p>

   <P> <%= f.label :password%>
    <%= f.password_field :password%></P> 

   <P> <%= f.label :age %>
    <%= f.text_field :age %></P>
    
    <%= f.submit "Create Account" %>
<% end %>



