<h1> <%= @user.name %>'s Homepage </h1>
<br>

<div> 
 <h2>Age: </h2><h3><%= @user.age %></h3>
<br>
<h2>Games Owned (listings):</h2>
<ul>
  <% @user.listings.each do |listing|%>
<br>
    <li><%= link_to listing.game.name, listing_path(listing) %> </li>
<%end%>
</div>
<br>
<br>
<br>
<%= link_to "Create Game ", new_game_path() %> 
<br>
<br>
<%= link_to "View Games ", listings_path() %> 
<br>
<br>
<%= link_to "Create listing ", new_listing_path() %> 
<br>
<br>
<%= link_to "View listings ", listings_path() %> <br> <br>

<%= button_to "Delete Account", user_path(@user), :method => :delete %><br>



