
<div id="demotext">
<h1> <%= @user.name %>'s Homepage </h1>
</div>

<div> 
<h3>Age: <%= @user.age %></h3>
<br>
<h3>Games Owned (listings):</h3>
</div>

<ul>
<% @user.listings.each do |listing|%>
  <li><%= link_to listing.game.name, listing_path(listing) %> </li>
<%end%>
</ul>

<br>
<%= link_to "Create Game ", new_game_path() %> 
<br>
<br>
<%= link_to "View Games ", games_path() %> 
<br>
<br>
<%= link_to "Create listing ", new_listing_path() %> 
<br>
<br>
<%= link_to "View listings ", listings_path() %> <br> <br>

<%= button_to "Delete Account", user_path(@user), :method => :delete %><br>



